# Dependencies
node_modules
.pnp
.pnp.js

# React build directory
build

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# NPM artifacts
npm-debug.log*

# Misc
.test.js
.bak
.log
